<div class="m-3">
  <form [formControl]="filter">
    <div class="form-group form-inline">
      Search:
      <input
        class="form-control ml-2"
        type="text"
        name="searchTerm"
        (input)="search($any($event.target).value)"
      />
    </div>
  </form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" sortable="custName">Name</th>
        <th scope="col" sortable="primaryContactNumber">
          Contact Number
        </th>
        <th scope="col" sortable="altcontactNumber">
          Alt Contact Number
        </th>
        <th scope="col" sortable="referralCode">Referral Code</th>
        <th scope="col">Locality</th>
        <th scope="col">Gold Exchange</th>
        <th scope="col">Silver Exchange</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let customer of filteredCustomers
            | slice: (page - 1) * pageSize:page * pageSize;
          index as i
        "
      >
        <th scope="row">{{ (page - 1) * pageSize + i + 1 }}</th>
        <td>
          <a [routerLink] = "['/home/customer-details', customer.custId]">
          <ngb-highlight
            [result]="customer.customerName"
            [term]="filter.value"
          ></ngb-highlight>
          </a>
        </td>
        <td>{{ customer.primaryContactNo }}</td>
        <td>{{ customer.alterNateContactNo }}</td>
        <td>{{ customer.referralCode }}</td>
        <td>{{ customer.address.locality }}</td>
        <td *ngIf="this.productExhchangeMap.get(customer.custId) != undefined && this.productExhchangeMap.get(customer.custId)!.length>0; else goldBlock">{{ this.productExhchangeMap.get(customer.custId)![0]!.exchangeVal}} {{ this.productExhchangeMap.get(customer.custId)![0]!.uomDesc }}</td>
        <ng-template #goldBlock><td></td></ng-template>
        <td *ngIf="this.productExhchangeMap.get(customer.custId) != undefined && this.productExhchangeMap.get(customer.custId)!.length>1; else silverBlock">{{ this.productExhchangeMap.get(customer.custId)![1]!.exchangeVal }} {{ this.productExhchangeMap.get(customer.custId)![1]!.uomDesc }}</td>
        <ng-template #silverBlock><td></td></ng-template>
        <td><button class="btn btn-primary" (click)="editCustomer(customer.custId)">Edit</button></td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="collectionSize"
      [(page)]="page"
      [pageSize]="pageSize"
    >
    </ngb-pagination>

    <select class="form-select" style="width: auto" [(ngModel)]="pageSize">
      <option [ngValue]="5" selected>5 items per page</option>
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="20">20 items per page</option>
    </select>
  </div>
</div>
