<div>
  <form [formGroup]="customerForm" (ngSubmit)="onFormSubmit()">
    <div class="form-group row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <label for="customerName">Customer Name</label>
        <input
          type="text"
          formControlName="customerName"
          class="form-control form-control-user"
          id="customerName"
          placeholder="Customer Name"
          [(ngModel)] = "customer.customerName"
        />
      </div>
      <div class="col-sm-6 mb-3 mb-sm-0">
        <label for="phoneNumber">Phone Number </label>
        <input
          type="text"
          formControlName="phoneNumber"
          class="form-control form-control-user"
          id="phoneNumber"
          placeholder="Customer Phone Number"
          [(ngModel)] = "customer.primaryContactNo"
        />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <label for="phoneNumber">Alternate Phone Number </label>
        <input
          type="text"
          formControlName="altPhoneNumber"
          class="form-control form-control-user"
          id="altPhoneNumber"
          placeholder="Alternate Phone Number"
          [(ngModel)] = "customer.alterNateContactNo"
        />
      </div>
      <div class="col-sm-6 mb-3 mb-sm-0">
        <label for="referralCode">Referral Code </label>
        <input
          type="text"
          formControlName="referralCode"
          class="form-control form-control-user"
          id="referralCode"
          placeholder="Referral Code"
          [(ngModel)] = "customer.referralCode"
        />
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input
        type="text"
        class="form-control form-control-user"
        formControlName="inputAddress"
        id="inputAddress"
        placeholder="1234 Main St"
        [(ngModel)] = "customer.address.addr1"
      />
    </div>
    <div class="form-group">
      <label for="inputAddress2">Address 2</label>
      <input
        type="text"
        class="form-control"
        id="inputAddress2"
        formControlName="inputAddress2"
        placeholder="Apartment, studio, or floor"
        [(ngModel)] = "customer.address.addr2"
      />
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputCountry">Country</label>
        <select
          formControlName="countryFormName"
          [(ngModel)]="selectedCountry"
          (change)="onCountrySelection(selectedCountry)"
          class="form-control"
        >
          <option *ngFor="let country of countries"
          [selected] = "country.id === customer.address.country.id"
          [value]="country">
            {{ country.countryName }}
          </option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select
          id="inputState"
          class="form-control"
          formControlName="stateFormName"
          [(ngModel)]="selectedState"
          (change)="onStateSelection(selectedState)"
        >
          <option *ngFor="let state of states"
          [selected] = "state.id === customer.address.state.id"
          [value]="state">
            {{ state.stateName }}
          </option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="inputDistrict">City/District</label>
        <select
          id="inputDistrict"
          class="form-control"
          formControlName="districtFormName"
          [(ngModel)]="selectedDistrict"
          (change)="onDistrictSelection(selectedDistrict)"
        >
          <option *ngFor="let district of districts"
          [selected] = "district.id === customer.address.district.id"
          [value]="district">
            {{ district.districtName }}
          </option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="subDistrict">Sub District/Area</label>
        <select
          id="subDistrict"
          class="form-control"
          formControlName="subDistirctFormName"
          [(ngModel)]="selectedSubDistrict"
        >
          <option [ngValue]="null" selected>Choose...</option>
          <option
            *ngFor="let subDistrict of subDistricts"
            [selected] = "subDistrict.id === customer.address.subDistrict.id"
            [value]="subDistrict"
          >
            {{ subDistrict.subDistrictName }}
          </option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="pincode">Zip</label>
        <input
          type="text"
          class="form-control"
          id="pincode"
          formControlName="pincode"
          [(ngModel)] = "customer.address.pincode"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="locality">Locality</label>
        <input
          type="text"
          class="form-control"
          id="locality"
          formControlName="locality"
          [(ngModel)] = "customer.address.locality"
        />
      </div>
      <button type="submit" class="btn btn-primary btn-user btn-block">
        Update
      </button>
    </div>
  </form>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
</ngx-loading>
